#root {
  background-size: cover;
  background: #0A0118,
  radial-gradient(circle 20px at 10% 10%, #2a0b43 10%, transparent 70%);
}

.rotating-logo {
  animation: rotation infinite 1s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}